.container {
  display: flex;
  flex-direction: column;
  .mainContent {
    display: flex;
    flex-direction: row;
  }
  .filter {
    width: 300px;
    margin-left: 20px;
  }
}

.Product {
  color: #00394d;
  &:hover {
    text-decoration: none;
    color: #00394d;
  }
}
