.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  .mainContent {
    display: flex;
    flex-direction: row;
  }
  .filter {
    margin-left: 15px;
  }
}

.Product {
  color: #00394d;
  &:hover {
    text-decoration: none;
    color: #00394d;
  }
}
