.Modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.ModalCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1020;
  top: 100px;
  margin: auto;
  padding: 12px 12px 30px;
  width:400px;
  background-color: white;
  border-radius:10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.Backdrop {
  position: absolute;
  top: 0;
  z-index: 1010;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.50);
}
