.Modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.ModalCard {
  position: relative;
  width: 200px;
  z-index: 1020;
  top: 100px;
  margin: auto;
  padding: 12px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.Backdrop {
  position: absolute;
  top: 0;
  z-index: 1010;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.50);
}
