.Drawer {
  position: absolute;
 .DrawerCard {
   top: 0;
   right: 0;
   flex: 1 0 auto;
   height: 100%;
   width: 400px;
   display: flex;
   outline: 0;
   z-index: 1200;
   position: fixed;
   overflow-y: auto;
   flex-direction: column;
   background-color: #fff;
   transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
 }
 .Backdrop {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   z-index: 5;
   position: fixed;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.5);
   -webkit-tap-highlight-color: transparent;
 }
}