.checkboxes {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      cursor: pointer;
      width: 40px;
    }
    .checkboxText
    {
      font-size: 110%;
      display: inline;
    }
  }
}