.ProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 2px solid #222222;
  border-radius: 10px;
  h3 {
    text-transform: uppercase;
  }
  .Macros {
    display: flex;
    flex-direction: row;
    p {
      padding: 10px;
    }
  }
  .RemoveBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 3px 0;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    background-color: #222;
    &:hover {
      color: red;
    }
  }
}
