input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  max-width: 50px;
}

input {
  border: 0;
  border-bottom: 1px solid;
  display: block;
  background: none;
  box-sizing: content-box;
  margin-bottom: 0.5rem;
  width: 100%;
  &:focus {
    outline: none;
    border-bottom: 2px solid #007bff;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 5% auto;
  padding: 15px 0;
  background-color: rgba(0,123,255,.04);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 30px;
  }
  .name {
    display: flex;
    flex-direction: row;
    width: 50%;
    color: #007bff;
    label {
      min-width: 110px;
    }
  }
  .macros {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px 0;
    color: #007bff;
    .macrosElement {
      display: flex;
      flex-direction: row;
      margin: 5px 0;
      label {
        min-width: 110px;
        padding: 0;
      }
    }
    span {
      padding: 0 5px;
      margin-bottom: 0.5rem;
    }
  }
}

.modalTitle {
  color: #007bff;
}

.modalText {
  width: 50%;
}
